<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Texi</title>
    <link rel="icon" sizes="16x16" th:href="@{/images/fav.png}" type="image/png}">

    <link rel="stylesheet" th:href="@{/css/main.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
    <div class="postoverlay"></div>

    <div class="topbar stick">
        <div class="logo">
            <a th:href="@{/user/dashboard}" title=""><h1 data-shadow='dang!'>Texi</h1><!--<img alt="" th:src="@{/images/logo.png}">--></a>
        </div>

        <div class="top-area">
            <div class="top-search">
                <form class="" method="post">
                    <input th:placeholder="#{searchFriend}" type="text"/>
                    <button data-ripple><i class="ti-search"></i></button>
                </form>
            </div>
            <ul class="setting-area" layout:fragment="settings-area">
                <li><a data-ripple="" th:href="@{/user/dashboard}" title="Home"><i class="ti-home"></i></a></li>
                <li>
                    <a data-ripple="" href="#" title="Notification">
                        <i class="ti-bell"></i><span id="ctr2" th:text="${notifications.size()}">4</span>
                    </a>
                    <div class="dropdowns">
                        <span th:text="${notifications.size() + ' New Notification(s)'}">~ New Notifications</span>
                        <ul class="drops-menu">
                            <li th:each="notification : ${notifications}">
                                <a th:href="@{/notifications/}" title="">
<!--                                    <img alt="" th:src="@{/images/resources/thumb-1.jpg}">-->
                                    <img alt="" th:src="${notification?.owner?.photoUrl}">
                                    <div class="mesg-meta">
                                        <h6></h6>
                                        <span th:text="${notification?.owner?.firstName + ' ' + notification?.owner?.lastName + ' just posted on Texi'}">Click here to view notification</span>
                                        <i th:text="${{notification?.notifyTime}}">2 mins ago</i>
                                    </div>
                                </a>
                                <span class="tag green" th:text="#{new}"></span>
                            </li>
                        </ul>
                        <a class="more-mesg" th:href="@{/notifications/}" title="" th:text="#{vewMore}"></a>
                    </div>
                </li>
                <li><a data-ripple="" href="#" title="Languages"><i class="fa fa-globe"></i></a>
                    <div class="dropdowns languages">
                        <a href="?lang=en" title=""><i class="ti-check"></i>English</a>
                        <a href="?lang=de" title="">German</a>
                    </div>
                </li>
            </ul>
            <div class="user-img" style="margin-right: 2rem;">
                <img alt="" th:src="${user.photoUrl}">
                <span class="status f-online"></span>
                <div class="user-setting">
                    <a th:href="@{/user/manage-profile}" title=""><i class="ti-user" th:text="#{viewProfile}"></i> </a>
                    <a th:href="@{/user/manage-profile}" title=""><i class="ti-pencil-alt" th:text="#{editProfile}"></i></a>
                    <a th:href="@{/logout}" title=""><i class="ti-power-off" th:text="#{logOut}"></i></a>
                </div>
            </div>
        </div>
    </div><!-- topbar -->

    <section layout:fragment="top-image-area">
        <div class="feature-photo">
            <figure><img alt="" th:src="@{/images/resources/timeline-1.jpg}"></figure>
            <!--todo Scale the timeline photos to these dimensions before saving-->
            <!--<figure><img alt="" th:src="${user.photoUrl}" th:height="350" th:width="1366"></figure>-->
            <div class="add-btn">
                <span th:text="${user?.following?.size() + ' following, ' + followers?.size() + ' follower(s)'}">3 following, 1 followers</span>
<!--                <a data-ripple="" href="#" title="">Follow</a>-->
            </div>
            <form class="edit-phto">
                <i class="fa fa-camera-retro"></i>
                <label class="fileContainer" th:text="#{editCoverPhoto}" >

                    <input type="file"/>
                </label>
            </form>
            <div class="container-fluid">
                <div class="row merged">
                    <div class="col-lg-2 col-sm-3">
                        <div class="user-avatar">
                            <figure>
                                <img alt="" th:src="${user?.photoUrl}">
                                <form class="edit-phto">
                                    <i class="fa fa-camera-retro"></i>
                                    <label class="fileContainer" th:text="#{editDisplayPhoto}">
                                        <input type="file"/>
                                    </label>
                                </form>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-10 col-sm-9">
                        <div class="timeline-info">
                            <ul>
                                <li class="admin-name">
                                    <h5 th:text="${user?.firstName + ' ' + user?.lastName}">Janice Griffith</h5>
                                    <!--<span>Group Admin</span>-->
                                </li>
                                <li>
                                    <a class="active" data-ripple="" th:href="@{/user/timeline}" title="" th:text="#{timeLine}"></a>
                                    <a class="" data-ripple="" href="timeline-photos.html" title="" th:text="#{photos}"></a>
                                    <a class="" data-ripple="" href="timeline-videos.html" title="">Videos</a>
                                    <a class="" data-ripple="" href="timeline-friends.html" title="" th:text="#{following}"></a>
                                    <a class="" data-ripple="" href="groups.html" title="" th:text="#{groups}"></a>
                                    <a class="" data-ripple="" href="about.html" title="" th:text="#{about}"></a>
                                    <a class="" data-ripple="" href="#" title="" th:text="#{more}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- top area -->

    <section><!-- ADMIN MENU -->
        <div class="gap gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row merged20" id="page-contents" layout:fragment="page-content">
                            <div class="col-lg-3" layout:fragment="left-sidebar">
                                <aside class="sidebar static">
                                    <div class="widget" layout:fragment="left-shortcuts-admin" sec:authorize="hasRole('ROLE_ADMIN')">
                                        <h4 class="widget-title" th:text="#{manage}"></h4>
                                        <ul class="naves" sec:authorize="hasRole('ROLE_ADMIN')">
                                            <li>
                                                <i class="ti-files"></i>
                                                <a th:href="@{/admin/adverts}" title="" th:text="#{manageAdverts}"></a>
                                            </li>
                                            <li>
                                                <i class="ti-user"></i>
                                                <a th:href="@{/admin/users}" title="" th:text="#{manageUsers}"></a>
                                            </li>
                                            <li>
                                                <i class="ti-image"></i>
                                                <a href="#" th:href="@{/posts/unhealthy}" title="" th:text="#{unhealthyPosts}"></a>
                                            </li>
                                            <li>
                                                <i class="ti-image"></i>
                                                <a href="#" th:href="@{/admin/claims}" title="" th:text="#{manageClaims}"></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="widget" layout:fragment="left-shortcuts-user" sec:authorize="hasRole('ROLE_USER')">
                                        <h4 class="widget-title" th:text="#{shortcuts}"></h4>
                                        <ul class="naves">
                                            <li>
                                                <i class="ti-clipboard"></i>
                                                <a th:href="@{/user/dashboard}" title="" th:text="#{newsfeed}"></a>
                                            </li>
                                            <li>
                                                <i class="ti-files"></i>
                                                <a th:href="@{/user/manage-profile}" title="" th:text="#{myprofile}"></a>
                                            </li>
                                            <li>
                                                <i class="ti-user"></i>
                                                <a href="timeline-friends.html" title=""th:text="#{friends}"></a>
                                            </li>
                                            <li>
                                                <i class="ti-image"></i>
                                                <a href="#" title="" th:text="#{images}"></a>
                                            </li>
                                            <li>
                                                <i class="ti-video-camera"></i>
                                                <a href="timeline-videos.html" title="" th:text="#{videos}"></a>
                                            </li>
                                            <li>
                                                <i class="ti-bell"></i>
                                                <a href="notifications.html" title="" th:text="#{notifications}"></a>
                                            </li>
                                            <li>
                                                <i class="ti-power-off"></i>
                                                <a th:href="@{/logout/}" title="" th:text="#{logout}"></a>
                                            </li>
                                        </ul>
                                    </div><!-- Shortcuts -->

                                    <div class="widget stick-widget" layout:fragment="who-to-follow">
                                        <h4 class="widget-title" th:text="#{whoToFollow}"></h4>
                                        <div class="chat-box" th:if="${wtf?.isEmpty()}">
                                            <ul>
                                                <li>
                                                    <div class="friend-meta">
                                                        <h4><a href="#" title="" th:text="#{wedidntFindAnyToday}"></a></h4>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="followers" th:each="suggested: ${wtf}">
                                            <li th:id="${suggested.id}">
                                                <figure><img alt="" th:src="${suggested.photoUrl}">
                                                </figure>
                                                <div class="friend-meta">
                                                    <h4><a th:href="${'/user/timeline/' + suggested.id}" title=""><span th:text="${suggested.firstName + ' ' + suggested.lastName}"></span></a></h4>
                                                    <a class="underline" title="" th:href="@{/user/follow(f=${suggested.id})}" th:text="#{addFriend}"></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!-- who's following -->
                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6" layout:fragment="main-content">

                                <div class="central-meta new-pst" layout:fragment="newpost-form">
                                    <div class="new-postbox">
                                        <figure>
                                            <img alt="" th:src="${user.photoUrl}">
                                        </figure>
                                        <div class="newpst-input">
                                            <form enctype="multipart/form-data" id="post-form" method="post" th:action="@{/posts/add}">
                                                <!--                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                                <!--                    <input type="hidden" name="_csrf.parameterName" value="_csrf.token"/>-->
                                                <textarea id="title" name="title" th:placeholder="#{writeSomething}" rows="2"></textarea>
                                                <div class="attachments">
                                                    <ul>
                                                        <li>
                                                            <label class="fileContainer">
                                                                <input id="notify" name="notify" type="checkbox" title="Notify My Followers">
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-image"></i>
                                                            <label class="fileContainer">
                                                                <input id="image" name="image" type="file">
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-video-camera"></i>
                                                            <label class="fileContainer">
                                                                <input id="video" name="video" type="file">
                                                            </label>
                                                        </li>
                                                        <input type="hidden" value="post" name="type" />
                                                        <li>
                                                            <button form="post-form" id="post-submit" name="post-submit" type="submit" th:text="#{post}"></button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div><!-- add post new box -->

                                <div class="loadMore" layout:fragment="posts-area">
                                    <div class="central-meta item" th:each="post : ${posts}">
                                        <div class="user-post">
                                            <div class="friend-info">
                                                <figure>
                                                    <!-- todo replace avatar here with user thumbnail -->
                                                    <img alt="" th:src="${post.user.photoUrl}">
                                                </figure>
                                                <div class="friend-name">
                                                    <ins><a th:href="${'/user/timeline/' + post.user.id}" th:text="${post.user.firstName + ' ' + post.user.lastName}">Janice Griffith</a></ins>
                                                    <span th:text="'published: ' + ${{post.date}}">june,2 2018 19:PM</span>
                                                </div>
                                                <div class="post-meta">
                                                    <img alt="" th:if="${post?.photos?.size() > 0}" th:src="${post?.photos.size() > 0 ? post?.photos[0]?.url : '/images/resources/user-post.jpg'}">
                                                    <video width="500" height="360" alt="" th:if="${post?.video != null}" autoplay loop muted plays-inline controls>
                                                        <source th:src="${post?.video?.url}" type="video/mp4">
                                                    </video>
                                                    <div class="we-video-info">
                                                        <ul>
<!--                                                            <li>-->
<!--                                                                <span class="views" data-toggle="tooltip" title="views">-->
<!--                                                                    <i class="fa fa-eye"></i>-->
<!--                                                                    <ins>1.2k</ins>-->
<!--                                                                </span>-->
<!--                                                            </li>-->
                                                            <li>
                                                                <span class="comment" data-toggle="tooltip"
                                                                      title="Comments">
                                                                    <i class="fa fa-comments-o"></i>
                                                                    <ins></ins>
                                                                    <ins th:text="${post.comments.size()}">52</ins>
                                                                </span>
                                                            </li>
                                                            <li>
                                                                <span class="like" data-toggle="tooltip" title="like">
                                                                    <i class="heart fa fa-heart-o"></i>
                                                                    <ins></ins>

                                                                </span>
                                                            </li>
<!--                                                            <li>-->
<!--                                                                <span class="dislike" data-toggle="tooltip" title="dislike">-->
<!--                                                                    <i class="ti-heart-broken"></i>-->
<!--                                                                    <ins>200</ins>-->
<!--                                                                </span>-->
<!--                                                            </li>-->
                                                            <li class="social-media">
                                                                <div class="menu">
                                                                    <div class="btn trigger"><i
                                                                            class="fa fa-share-alt"></i></div>
                                                                    <div class="rotater">
                                                                        <div class="btn btn-icon"><a href="#"
                                                                                                     title=""><i
                                                                                class="fa fa-html5"></i></a></div>
                                                                    </div>
                                                                    <div class="rotater">
                                                                        <div class="btn btn-icon"><a href="#"
                                                                                                     title=""><i
                                                                                class="fa fa-facebook"></i></a></div>
                                                                    </div>
<!--                                                                    <div class="rotater">-->
<!--                                                                        <div class="btn btn-icon"><a href="#"-->
<!--                                                                                                     title=""><i-->
<!--                                                                                class="fa fa-google-plus"></i></a></div>-->
<!--                                                                    </div>-->
                                                                    <div class="rotater">
                                                                        <div class="btn btn-icon"><a href="#"
                                                                                                     title=""><i
                                                                                class="fa fa-twitter"></i></a></div>
                                                                    </div>
<!--                                                                    <div class="rotater">-->
<!--                                                                        <div class="btn btn-icon"><a href="#"-->
<!--                                                                                                     title=""><i-->
<!--                                                                                class="fa fa-css3"></i></a></div>-->
<!--                                                                    </div>-->
                                                                    <div class="rotater">
                                                                        <div class="btn btn-icon"><a href="#"
                                                                                                     title=""><i
                                                                                class="fa fa-instagram"></i></a>
                                                                        </div>
                                                                    </div>
<!--                                                                    <div class="rotater">-->
<!--                                                                        <div class="btn btn-icon"><a href="#"-->
<!--                                                                                                     title=""><i-->
<!--                                                                                class="fa fa-dribbble"></i></a>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                    <div class="rotater">-->
<!--                                                                        <div class="btn btn-icon"><a href="#"-->
<!--                                                                                                     title=""><i-->
<!--                                                                                class="fa fa-pinterest"></i></a>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->

                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="description">

                                                        <p th:text="${post.title}">
                                                            <span th:text="${user.getUsername()}"></span>
                                                            World's most beautiful car in Curabitur <a href="#"
                                                                                                       title="">#test
                                                            drive booking !</a> the most beatuiful car available in
                                                            america and the saudia arabia, you can book your test drive
                                                            by our official website
                                                        </p>
                                                        <p th:id="postid"><span th:text= "${post.id}" style="display: none"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="coment-area">
                                                <ul class="we-comet">

                                                    <li th:each="comment : ${post.comments}">
                                                        <div class="comet-avatar">
<!--                                                            <img alt="" th:src="@{/images/resources/comet-1.jpg}">-->
                                                        </div>
                                                        <div class="we-comment">
                                                            <div class="coment-head">
                                                                <h5><ins><a th:href="${'/user/timeline/' + comment.user.id}" th:text="${comment.user.firstName + ' ' + comment.user.lastName}">Janice Griffith</a></ins>
                                                                </h5>
                                                                <span th:text="'commented on: ' + ${{comment.date}}">june,2 2018 19:PM</span>
                                                                <a class="we-reply" href="#" title="Reply"><i
                                                                        class="fa fa-reply"></i></a>
                                                            </div>
                                                            <p th:text="${comment.text}">we are working for the dance and sing songs. this car is
                                                                very awesome for the youngster. please vote this car and
                                                                like our post</p>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <a class="showmore underline" href="#" title="">more
                                                            comments</a>
                                                    </li>
                                                    <li class="post-comment">
                                                        <div class="comet-avatar">
                                                        </div>
                                                        <div class="post-comt-box">
                                                            <form class="commentForm" method="post" action="/comment/add">
                                                                <textarea id="pcomment" name="pcomment" placeholder="Post your comment"></textarea>
                                                                <div class="add-smiles">
                                                                    <span class="em em-expressionless"
                                                                          title="add icon"></span>
                                                                </div>
                                                                <div class="smiles-bunch">
                                                                    <i class="em em---1"></i>
                                                                    <i class="em em-smiley"></i>
                                                                    <i class="em em-anguished"></i>
                                                                    <i class="em em-laughing"></i>
                                                                    <i class="em em-angry"></i>
                                                                    <i class="em em-astonished"></i>
                                                                    <i class="em em-blush"></i>
                                                                    <i class="em em-disappointed"></i>
                                                                    <i class="em em-worried"></i>
                                                                    <i class="em em-kissing_heart"></i>
                                                                    <i class="em em-rage"></i>
                                                                    <i class="em em-stuck_out_tongue"></i>
                                                                </div>
                                                                <input type="hidden" th:value="${post.id}" class="something" th:attr="name='postId'" />
                                                                <button  type="submit"></button>
                                                            </form>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- centerl meta -->

                            <div class="col-lg-3" layout:fragment="right-sidebar">
                                <aside class="sidebar static">
                                    <div class="widget" layout:fragment="page-like-area">
                                        <h4 class="widget-title" th:text="#{yourPage}"></h4>
                                        <div class="your-page">
                                            <figure>
                                                <a href="#" title=""><img alt="" th:src="${user.photoUrl}"></a>
                                            </figure>
                                            <div class="page-meta">
                                                <a class="underline" th:href="@{/user/timeline}" title=""> <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></a>
                                                <span><i class="ti-bell"></i><a th:href="@{/notifications/}" title="" th:text="#{notifications}"> <em th:text="${notifications.size()}">2</em></a></span>
                                            </div>
                                            <div class="page-likes">
                                                <ul class="nav nav-tabs likes-btn">
                                                    <li class="nav-item"><a class="active" data-toggle="tab"
                                                                            href="#link1" th:text="#{likes}"></a></li>
                                                    <li class="nav-item"><a class="" data-toggle="tab" href="#link2" th:text="#{views}"></a>
                                                    </li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div class="tab-pane active fade show " id="link1">
                                                        <span><i class="ti-heart"></i>884</span>
                                                        <a href="#" title="weekly-likes">35 new likes this week</a>
                                                        <div class="users-thumb-list">
                                                            <a data-toggle="tooltip" href="#" title="Anderw">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-1.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="frank">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-2.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="Sara">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-3.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="Amy">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-4.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="Ema">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-5.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="Sophie">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-6.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="Maria">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-7.jpg}">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="link2">
                                                        <span><i class="ti-eye"></i>440</span>
                                                        <a href="#" title="weekly-likes">440 new views this week</a>
                                                        <div class="users-thumb-list">
                                                            <a data-toggle="tooltip" href="#" title="Anderw">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-1.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="frank">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-2.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="Sara">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-3.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="Amy">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-4.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="Ema">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-5.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="Sophie">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-6.jpg}">
                                                            </a>
                                                            <a data-toggle="tooltip" href="#" title="Maria">
                                                                <img alt=""
                                                                     th:src="@{/images/resources/userlist-7.jpg}">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- page like widget -->
                                    <div class="widget" layout:fragment="advert-area">
                                        <div class="banner medium-opacity bluesh">
                                            <div class="bg-image"
                                                 style="background-image: url(/images/resources/baner-widgetbg.jpg)"></div>
                                            <div class="baner-top">
                                                <span><img alt="" th:src="@{/images/book-icon.png}"></span>
                                                <i class="fa fa-ellipsis-h"></i>
                                            </div>
                                            <div class="banermeta">
                                                <p th:text="#{createYourOwnFavouritPage}">

                                                </p>
                                                <span th:text="#{likeThemAll}"></span>
                                                <a data-ripple="" href="#" title="" th:text="#{startNow}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget friend-list stick-widget" layout:fragment="friends-list-area">
                                        <h4 class="widget-title" th:text="#{friends}"></h4>

                                        <div class="chat-box" th:if="${friends?.isEmpty()}">
                                            <ul>
                                                <li>
                                                    <div class="friend-meta">
                                                        <h4><a href="#" title="" th:text="#{youHaveNoFriendsYet}"></a></h4>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="searchDir"></div>
                                        <ul class="friendz-list" id="people-list" th:each="friend: ${friends}">
                                            <li th:id="${'un'+friend.id}">
                                                <figure>
                                                    <img alt="" th:src="${friend.photoUrl}">
                                                    <span class="status f-online"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a th:href="${'/user/timeline/' + friend.id}"><span th:text="${friend.firstName + ' ' + friend.lastName}"></span></a>
                                                    <a class="underline" title="unfollow" th:href="@{/user/unfollow(f=${friend.username})}" th:text="#{unfollow}"></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="chat-box">
                                            <div class="chat-head">
                                                <span class="status f-online"></span>
                                                <h6 th:text="#{buckyBarnes}"></h6>
                                                <div class="more">
                                                    <span><i class="ti-more-alt"></i></span>
                                                    <span class="close-mesage"><i class="ti-close"></i></span>
                                                </div>
                                            </div>
                                            <div class="chat-list">
                                                <ul>
                                                    <li class="me">
                                                        <div class="chat-thumb"><img
                                                                alt="" th:src="@{/images/resources/chatlist1.jpg}">
                                                        </div>
                                                        <div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
                                                            <span class="notification-date"><time
                                                                    class="entry-date updated"
                                                                    datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                                                        </div>
                                                    </li>
                                                    <li class="you">
                                                        <div class="chat-thumb"><img
                                                                alt="" th:src="@{/images/resources/chatlist2.jpg}">
                                                        </div>
                                                        <div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
                                                            <span class="notification-date"><time
                                                                    class="entry-date updated"
                                                                    datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                                                        </div>
                                                    </li>
                                                    <li class="me">
                                                        <div class="chat-thumb"><img
                                                                alt="" th:src="@{/images/resources/chatlist1.jpg}">
                                                        </div>
                                                        <div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
                                                            <span class="notification-date"><time
                                                                    class="entry-date updated"
                                                                    datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <form class="text-box">
                                                    <textarea placeholder="Post enter to post..."></textarea>
                                                    <div class="add-smiles">
                                                        <span class="em em-expressionless" title="add icon"></span>
                                                    </div>
                                                    <div class="smiles-bunch">
                                                        <i class="em em---1"></i>
                                                        <i class="em em-smiley"></i>
                                                        <i class="em em-anguished"></i>
                                                        <i class="em em-laughing"></i>
                                                        <i class="em em-angry"></i>
                                                        <i class="em em-astonished"></i>
                                                        <i class="em em-blush"></i>
                                                        <i class="em em-disappointed"></i>
                                                        <i class="em em-worried"></i>
                                                        <i class="em em-kissing_heart"></i>
                                                        <i class="em em-rage"></i>
                                                        <i class="em em-stuck_out_tongue"></i>
                                                    </div>
                                                    <button type="submit"></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- friends list sidebar -->
                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bottombar" layout:fragment="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright" th:text="#{allRightsReserved}"></span>
                    <i><img alt="" th:src="@{/images/credit-cards.png}"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<!--<script th:src="@{js/map-init.js}"></script>-->
<!--<script th:src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>-->
</body>
</html>