<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <title>Texi - Login</title>
    <link href="images/fav.png" rel="icon" sizes="16x16" type="image/png">

    <link rel="stylesheet" th:href="@{/css/main.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <script>
        function readURL(input) {
            if(input.files && input.files[0]){
                var reader = new FileReader();
                reader.onload=function(e){
                    $('#ImageP')
                    .attr('src',e.target.result)

                    .height(200);
                };
                reader.readAsDataURL(input.files[0]);

            }

        }
    </script>

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
    <div class="container-fluid pdng0">
        <div class="row merged">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="land-featurearea">
                    <div class="land-meta">
                        <h1>Texi</h1>
                        <p>
                            Text, photos and video sharing to your followers
                        </p>
                        <div class="friend-logo">
                            <span><img alt="" th:src="@{/images/wink.png}"></span>
                        </div>
<!--                        <a class="folow-me" href="#" title="">Follow Us on</a>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="login-reg-bg">
                    <div class="log-reg-area sign">
                        <h2 class="log-title">Login</h2>
                        <p>
                            Don’t use Texi Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join
                            now</a>
                        </p>
                        <form method="POST" th:action="@{/user/login}" th:object="${user}">
                            <div class="form-group">
                                <input id="input" required="required" type="text" th:field="*{username}"/>
                                <label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
                            </div>
                            <div class="form-group">
                                <input required="required" type="password" th:field="*{password}"/>
                                <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
                            </div>
<!--                            <div class="checkbox">-->
<!--                                <label>-->
<!--                                    <input checked="checked" type="checkbox" th:field="*{rememberme}"/><i class="check-box"></i>Always Remember-->
<!--                                    Me.-->
<!--                                </label>-->
<!--                            </div>-->
                            <a class="text-warning" href="/claim" title="">Blocked Account</a>
                            <a class="forgot-pwd" href="#" title="">Forgot Password?</a>
                            <div class="submit-btns">
                                <button class="mtr-btn" type="submit"><span>Login</span></button>
                                <button class="mtr-btn signup" type="button"><span>Register</span></button>
                            </div>
                        </form>
                    </div>
                    <div class="log-reg-area reg">
                        <h2 class="log-title">Register</h2>
                        <p>
                            Don’t use Texi Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join
                            now</a>
                        </p>
                        <form method="post" th:action="@{/create}" th:object="${user}" enctype="multipart/form-data">
                            <div class="form-group">
                                <input required="required" type="text" th:field="*{firstName}"/>
                                <label class="control-label" for="input">First Name</label><i class="mtrl-select"></i>
                                <span class="danger-color" th:if="${#fields.hasErrors('firstName')}"
                                      th:errors="*{firstName}"></span>
                            </div>
                            <div class="form-group">
                                <input required="required" type="text" th:field="*{lastName}"/>
                                <label class="control-label" for="input">Last Name</label><i class="mtrl-select"></i>
                                <span class="danger-color" th:if="${#fields.hasErrors('lastName')}"
                                      th:errors="*{lastName}"></span>
                            </div>
                            <div class="form-group">
                                <input required="required" type="text" th:field="*{username}"/>
                                <label class="control-label" for="input">User Name</label><i class="mtrl-select"></i>
                                <span class="danger-color" th:if="${#fields.hasErrors('username')}"
                                      th:errors="*{username}"></span>
                            </div>
                            <div class="form-group">
                                <input required="required" type="password"  th:field="*{password}"/>
                                <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
                                <span class="danger-color" th:if="${#fields.hasErrors('password')}"
                                      th:errors="*{password}"></span>
                            </div>
                            <div class="form-group">
                                <input required="required" type="date"  th:field="*{birthday}"/>
                                <label class="control-label" for="input">Birthday <span class="small">yyyy-MM-dd</span></label><i class="mtrl-select"></i>
                                <span class="danger-color" th:if="${#fields.hasErrors('birthday')}"
                                      th:errors="*{birthday}"></span>
                            </div>
                            <div>
                                <div>
                                    <img id="ImageP" src="" class="img-circle"/>
                                </div>
                                <button id="photos" onclick="document.getElementById('photoProfile').click(); return false;">Upload Profile Photo</button>
                                <input type="file" id="photoProfile" onchange="readURL(this);" name="photo" accept="image/*" style="visibility: hidden"/>
                            </div>
<!--                            <div class="checkbox">-->
<!--                                <label>-->
<!--                                    <input checked="checked" type="checkbox"/><i class="check-box"></i>Accept Terms &-->
<!--                                    Conditions ?-->
<!--                                </label>-->
<!--                            </div>-->
                            <a class="already-have" href="#" title="">Already have an account</a>
                            <div class="submit-btns">
                                <button class="mtr-btn" type="submit" ><span>Register</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>