<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Sample Form</title>
</head>
<body>
<section layout:replace="components :: top-image-area">
    <!-- display this segment on the timeline -->
</section><!-- top area -->
<div class="col-lg-3" layout:fragment="left-sidebar">
    <aside class="sidebar static">
        <div class="widget" layout:replace="components :: left-shortcuts-user">
            Intentionally left blank
        </div><!-- User Shortcuts -->

        <div class="widget stick-widget" layout:replace="components :: who-to-follow">
            Intentionally left blank
        </div><!-- who's following -->
    </aside>
</div><!-- sidebar -->

<div class="col-lg-6" layout:fragment="main-content">
    <div class="central-meta new-pst" layout:replace="components :: newpost-form">
        Intentionally left blank
    </div><!-- add post new box -->

    <div class="loadMore" layout:replace="components :: posts-area">
        Intentionally left blank
    </div>
</div>

<div class="col-lg-3" layout:fragment="right-sidebar">
        <aside class="sidebar static">
            <div class="widget" layout:replace="components :: advert-area">
                Intentionally left blank
            </div>
            <div class="widget friend-list stick-widget" layout:replace="components :: friends-list-area">
                Intentionally left blank
            </div><!-- friends list sidebar -->
        </aside>
    </div><!-- sidebar -->

</body>

</html>